<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>

    <style>
      .add_requests {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 400px;
        padding: 10px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        border-radius: 8px;
      }
    </style>
    
</head>
<body>

     <div id="add_requests" class="add_requests">
   
         <h1>they wanna to be your friends </h1>


     </div>



     <h1>Add new friend</h1>
     <form id="add_friend">

      {% csrf_token %}

      {{add_friend.as_p}}

      <button>Add</button>
          
     </form>
     <p id="status"></p>

      <h1>Send new message</h1>
     <form   id="send">
        {% csrf_token %} 
        {{form.as_p}}
     <button>Send</button>
</form>

<p id="status2"></p>

<div id="messages">
    <p>your Messages</p>


    {% for x in msgs %}

    <p>{{x.seneder}}:{{x.content}}</p>

    {% endfor %}

    <pre id="new_msgs"></pre>
</div >
  <a href="{% url 'chat' %}" id="dummy"></a>
</body>

<script>

  // handling the notificition part when user add friend  

 let add_friend_form=document.getElementById("add_friend")

 let websocket_for_notifi=new WebSocket(`ws://${window.location.host}/new_friend`) // this webscoket handles the adding friend and the response to the add req 

 let status=document.getElementById("status") //dummy p element to put in it the response to adding friend
 let add_requests=document.getElementById("add_requests")  //here the div that contains the adding requests that comes to the user 



 

 add_friend_form.addEventListener("submit",(event)=>{


       event.preventDefault()

       form_obj=new FormData(event.target)
       const obj={}
       obj["type_msg"]="0"
       form_obj.forEach((k,v) => {
        

            obj[v]=k
       });

       websocket_for_notifi.send(JSON.stringify(obj))
 })



 function respond_to_add_req(e){

     e.preventDefault()

     form_obj=new FormData(e.target)

     const obj={}

     obj["ok_or_no"]=e.submitter.value
     console.log(e.submitter.value)

     obj["type_msg"]="1"

     form_obj.forEach((k,v)=>{

         obj[v]=k
     })

     websocket_for_notifi.send(JSON.stringify(obj))

     this.remove()

     console.log("removed")
 }

 websocket_for_notifi.onmessage=function(data){

      const obj=JSON.parse(data.data)

      state=obj["is"]



      function clr(){
        status.textContent=""
      }
      


      if (state==="0"){
        console.log(state)
          status.textContent="no such username ..."

          
      }


      else if (state==="1"){

        status.textContent="wtf he is your friend already ..."
          
      }

      else if (state==="2"){

          status.textContent="now you are friends..."
      }

      else if (state==="3"){

        console.log(`${obj["from"]} wanna to be your friend`)



        add_requests.appendChild(create_new_form_for_add_req(obj))

        console.log("done")



      }



      else if (state==="4"){

           p=document.createElement("p")

           p.textContent=obj["msg"]

           add_requests.appendChild(p)
      }
      setTimeout(clr,5000)

 }



 function create_new_form_for_add_req(obj){

        id=obj["id"]

        username=obj["from"]


        new_form=document.createElement("form")
        
        new_form.addEventListener("submit",respond_to_add_req)

        b=document.createElement("b")

        b.textContent=`${username} wanna be your friend`

        ok=document.createElement("button")

        ok.textContent="OK"

        ok.setAttribute("value","1")

        no=document.createElement("button")

        no.textContent="NO"

        no.setAttribute("value","0")


        dummy=document.createElement("input")

        dummy.setAttribute("type","hidden")

        dummy.setAttribute("name","id")

        dummy.setAttribute("value",id)

        new_form.appendChild(b)
        new_form.appendChild(ok)
        new_form.appendChild(no)
        new_form.appendChild(dummy)

        return new_form

    
 }


 function reqeuest_the_notifications_when_the_page_loaded(){

   
   fetch("{% url 'existed_notif' %}")

   .then(res=>res.json())

   .then(data=>{

      data.forEach(obj=>{


           if (obj["type"]==="False"){
            console.log("hhhhhhhhhhhh")
            add_requests.appendChild(create_new_form_for_add_req(obj))
           }

           else {
            console.log(`${obj["type"]}`)

           p=document.createElement("p")

           p.textContent=obj["msg"]

           add_requests.appendChild(p)
              
           }

           
           
      })
   })

 }

 reqeuest_the_notifications_when_the_page_loaded()





let status2=document.getElementById("status2")

let handle_msgs_websocket=new WebSocket(`ws://${window.location.host}/msgs`)  //  new websocket for handline the messaging 



// yet another new msg
let send_form=document.getElementById("send") 
let messages=document.getElementById("messages")

let new_msgs=document.getElementById("new_msgs")

send_form.addEventListener("submit",(event)=>{


     event.preventDefault()

     new_form=new FormData(event.target)

     obj={}

     new_form.forEach((k,v)=>{

         obj[v]=k
     })

     handle_msgs_websocket.send(JSON.stringify(obj))
})



// responeses from the server


 handle_msgs_websocket.onmessage=function(data){


   obj=JSON.parse(data.data)


   state=obj["state"]

   console.log(state)


   if (state==="0"){

      status2.textContent="he is not your friend add him first"
      
   }


   else if (state==="1"){

      status2.textContent="done , messge arrived "
   }


   else if (state==="2"){
    console.log(obj["msg"])


    new_msgs.textContent+=`${obj["msg"]}`

   }


   function clr_status2(){

       status2.textContent=""
   }

   setTimeout(clr_status2,3000)

 }


</script>



</html>